In [ ]:
a = 10
b = 5
print("Addition:", a + b)

s1 = "Hello"
s2 = "World"
print("Concatenation:", s1 + " " + s2)

Addition: 15
Concatenation: Hello World

In [ ]:

x = 12.7  
print("x:", x)
print("type(x):", type(x))
if isinstance(x, float):
    x_int = int(x) 
    print("Converted to int:", x_int)

x: 12.7
type(x): <class 'float'>
Converted to int: 12

In [ ]:
name = "Alice"
age = 22
print(f"My name is {name} and I am {age} years old.")

My name is Alice and I am 22 years old.

In [ ]:
nums = [2, 4, 6, 8, 10]
nums.append(12)
nums.remove(4)
print("List now:", nums)

List now: [2, 6, 8, 10, 12]

In [ ]:
names = ("Rafi", "Nila", "Tuhin")
print("Second name:", names[1])

Second name: Nila

In [ ]:
student = {"name": "Zihan", "id": 22, "gpa": 3.85}
print("Keys:", list(student.keys()))
print("Values:", list(student.values()))
print("Items:", list(student.items()))

Keys: ['name', 'id', 'gpa']
Values: ['Zihan', 22, 3.85]
Items: [('name', 'Zihan'), ('id', 22), ('gpa', 3.85)]

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
print("Union:", A | B)
print("Intersection:", A & B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}

In [ ]:
dup_list = [1, 2, 2, 3, 3, 3, 4]
unique_set = set(dup_list)
print("Original:", dup_list)
print("Unique as set:", unique_set)

Original: [1, 2, 2, 3, 3, 3, 4]
Unique as set: {1, 2, 3, 4}

In [ ]:
try:
    a = float(input("Enter a: "))
    b = float(input("Enter b: "))
except Exception as e:
    print("Input error:", e)
       a, b = 8, 3
    print("Using defaults a=8, b=3")
    
print("Sum:", a + b)
print("Subtraction (a-b):", a - b)
print("Multiplication:", a * b)
print("Division (a/b):", a / b)

Input error: could not convert string to float: 'a'
Using defaults a=8, b=3
Sum: 11
Subtraction (a-b): 5
Multiplication: 24
Division (a/b): 2.6666666666666665

In [ ]:
a, b = 7, 10
print("a >", "b:", a > b)
print("a ==", "b:", a == b)
print("a <", "b:", a < b)
print("a !=", "b:", a != b)

In [ ]:
x, y = 5, 12
print("(x>0 and y>10):", (x>0 and y>10))
print("(x>10 or y>10):", (x>10 or y>10))
print("not (x<0):", not (x<0))

In [ ]:
expr = 3 + 4 * 2 ** 2 // 3 - 1
print("Result:", expr)

Result: 7

In [ ]:
n = -7  
if n > 0:
    print("Positive")
elif n < 0:
    print("Negative")
else:
    print("Zero")

Negative

In [ ]:
# 4B) Even or Odd
n = 13  # change to test
if n % 2 == 0:
    print(n, "is Even")
else:
    print(n, "is Odd")

In [3]:
a, b = 14, 9 
if a > b:
    print("Largest is a:", a)
elif b > a:
    print("Largest is b:", b)
else:
    print("Both are equal:", a)

Largest is a: 14

In [4]:
score = 76  # 0..100
if score >= 80:
    grade = 'A'
elif score >= 70:
    grade = 'B'
elif score >= 60:
    grade = 'C'
else:
    grade = 'F'
print("Score:", score, "Grade:", grade)

Score: 76 Grade: B

In [ ]:
year = 2024 
is_leap = (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)
print(year, "is leap year?" , is_leap)

In [ ]:
for i in range(1, 11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
for i in range(2, 21, 2):
    print(i)

In [ ]:
total = 0
i = 1
while i <= 10:
    total += i
    i += 1
print("Sum 1..10:", total)

Sum 1..10: 55

In [ ]:
# 5D) break when number == 5
for i in range(1, 11):
    if i == 5:
        print("Stopping at", i)
        break
    print(i)

In [ ]:
# 5E) continue: skip number == 3
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

In [ ]:
# 6A) Function add(a, b) returns sum
def add(a, b):
    return a + b

print("add(5, 7) =", add(5, 7))

In [ ]:
# 6B) Function to get maximum from a list
def max_in_list(items):
    if not items:
        return None
    m = items[0]
    for x in items[1:]:
        if x > m:
            m = x
    return m

data = [3, 1, 8, 2, 5]
print("Max:", max_in_list(data))

In [ ]:
# 6C) Count even numbers in a list
def count_evens(items):
    count = 0
    for x in items:
        if x % 2 == 0:
            count += 1
    return count

data = [1, 2, 3, 4, 6, 7, 8]
print("Even count:", count_evens(data))

In [6]:
# 6D) Reverse a list without reverse()
def reverse_list(items):
    res = []
    for i in range(len(items)-1, -1, -1):
        res.append(items[i])
    return res

data = [10, 20, 30, 40]
print("Original:", data)
print("Reversed:", reverse_list(data))

Original: [10, 20, 30, 40]
Reversed: [40, 30, 20, 10]

In [ ]:
# 6E) Factorial using recursion
def factorial(n):
    if n < 0:
        raise ValueError("factorial undefined for negative numbers")
    if n == 0 or n == 1:
        return 1
    return n * factorial(n-1)

print("factorial(5) =", factorial(5))

factorial(5) = 120

In [ ]:
# 7A) math: sqrt and power
import math
print("sqrt(16) =", math.sqrt(16))
print("2^5 =", math.pow(2, 5))

In [ ]:
# 7B) random: 5 integers between 1 and 50
import random
nums = [random.randint(1, 50) for _ in range(5)]
print("Random ints:", nums)

Random ints: [25, 21, 41, 33, 36]

In [ ]:
# 7C) datetime: current date & time
from datetime import datetime
now = datetime.now()
print("Now:", now)

Now: 2025-11-03 09:17:17.346966

In [ ]:
# 7D) os: current working directory
import os
print("CWD:", os.getcwd())

CWD: e:\

In [ ]:
rows = 5
width = 2 * rows  

for i in range(1, rows):
    print(('*' * (2*i - 1)).center(width))

print(('*' * width).center(width))

for i in range(rows-1, 0, -1):
    print(('*' * (2*i - 1)).center(width))

    *
   ***
  *****
 *******
**********
 *******
  *****
   ***
    *

In [4]:
n = 5  
for i in range(n):
    line = ""
    for j in range(n):
        if i in (0, n-1) or j in (0, n-1):
            line += "*"
            
        else:
            line += "  "
    print(line)

*****
*      *
*      *
*      *
*****

In [ ]:
# Correct - using remove() on a list
my_list = [1, 2, 3, 4, 5]
my_list.remove(5)
print(my_list)  # Works fine

[1, 2, 3, 4]

In [ ]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8